<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianma.BI_Process.Repository.MenuDimMapper">
  <resultMap id="BaseResultMap" type="com.tianma.BI_Process.Domain.MenuDim">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Type_Flag" jdbcType="INTEGER" property="type_Flag" />
    <result column="Menu_Code" jdbcType="VARCHAR" property="menu_Code" />
    <result column="Menu_Name" jdbcType="VARCHAR" property="menu_Name" />
    <result column="Parent_Menu_Code" jdbcType="VARCHAR" property="parent_Menu_Code" />
    <result column="Invalid_Flag" jdbcType="BIT" property="invalid_Flag" />
    <result column="Oper_Sign" jdbcType="VARCHAR" property="oper_Sign" />
    <result column="Record_Date" jdbcType="TIMESTAMP" property="record_Date" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, Type_Flag, Menu_Code, Menu_Name, Parent_Menu_Code, Invalid_Flag, Oper_Sign, Record_Date
  </sql>
  <select id="selectByExample" parameterType="com.tianma.BI_Process.Domain.MenuDimExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_BP_Menu_Dim
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_BP_Menu_Dim
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SYS_BP_Menu_Dim
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="Id" keyProperty="id" parameterType="com.tianma.BI_Process.Domain.MenuDim" useGeneratedKeys="true">
    insert into SYS_BP_Menu_Dim (Type_Flag, Menu_Code, Menu_Name, 
      Parent_Menu_Code, Invalid_Flag, Oper_Sign, 
      Record_Date)
    values (#{type_Flag,jdbcType=INTEGER}, #{menu_Code,jdbcType=VARCHAR}, #{menu_Name,jdbcType=VARCHAR}, 
      #{parent_Menu_Code,jdbcType=VARCHAR}, #{invalid_Flag,jdbcType=BIT}, #{oper_Sign,jdbcType=VARCHAR}, 
      #{record_Date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="Id" keyProperty="id" parameterType="com.tianma.BI_Process.Domain.MenuDim" useGeneratedKeys="true">
    insert into SYS_BP_Menu_Dim
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type_Flag != null">
        Type_Flag,
      </if>
      <if test="menu_Code != null">
        Menu_Code,
      </if>
      <if test="menu_Name != null">
        Menu_Name,
      </if>
      <if test="parent_Menu_Code != null">
        Parent_Menu_Code,
      </if>
      <if test="invalid_Flag != null">
        Invalid_Flag,
      </if>
      <if test="oper_Sign != null">
        Oper_Sign,
      </if>
      <if test="record_Date != null">
        Record_Date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type_Flag != null">
        #{type_Flag,jdbcType=INTEGER},
      </if>
      <if test="menu_Code != null">
        #{menu_Code,jdbcType=VARCHAR},
      </if>
      <if test="menu_Name != null">
        #{menu_Name,jdbcType=VARCHAR},
      </if>
      <if test="parent_Menu_Code != null">
        #{parent_Menu_Code,jdbcType=VARCHAR},
      </if>
      <if test="invalid_Flag != null">
        #{invalid_Flag,jdbcType=BIT},
      </if>
      <if test="oper_Sign != null">
        #{oper_Sign,jdbcType=VARCHAR},
      </if>
      <if test="record_Date != null">
        #{record_Date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianma.BI_Process.Domain.MenuDim">
    update SYS_BP_Menu_Dim
    <set>
      <if test="type_Flag != null">
        Type_Flag = #{type_Flag,jdbcType=INTEGER},
      </if>
      <if test="menu_Code != null">
        Menu_Code = #{menu_Code,jdbcType=VARCHAR},
      </if>
      <if test="menu_Name != null">
        Menu_Name = #{menu_Name,jdbcType=VARCHAR},
      </if>
      <if test="parent_Menu_Code != null">
        Parent_Menu_Code = #{parent_Menu_Code,jdbcType=VARCHAR},
      </if>
      <if test="invalid_Flag != null">
        Invalid_Flag = #{invalid_Flag,jdbcType=BIT},
      </if>
      <if test="oper_Sign != null">
        Oper_Sign = #{oper_Sign,jdbcType=VARCHAR},
      </if>
      <if test="record_Date != null">
        Record_Date = #{record_Date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianma.BI_Process.Domain.MenuDim">
    update SYS_BP_Menu_Dim
    set Type_Flag = #{type_Flag,jdbcType=INTEGER},
      Menu_Code = #{menu_Code,jdbcType=VARCHAR},
      Menu_Name = #{menu_Name,jdbcType=VARCHAR},
      Parent_Menu_Code = #{parent_Menu_Code,jdbcType=VARCHAR},
      Invalid_Flag = #{invalid_Flag,jdbcType=BIT},
      Oper_Sign = #{oper_Sign,jdbcType=VARCHAR},
      Record_Date = #{record_Date,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>